flows.json
[{"id":"15817c05.5df8c4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cd7a501d.23e3","type":"function","z":"15817c05.5df8c4","name":"","func":"msg.payload = msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":160,"wires":[["83f7a583.2de618"]]},{"id":"9e507b52.607158","type":"debug","z":"15817c05.5df8c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":240,"wires":[]},{"id":"83f7a583.2de618","type":"watson-conversation-v1","z":"15817c05.5df8c4","name":"Chatbot","workspaceid":"9fa5b56f-58c3-4d6f-9b6f-00fe8847a167","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/232b2d77-7154-4369-a6a1-cbe1c2d46709","timeout":"","optout-learning":false,"x":400,"y":240,"wires":[["97976d78.1b44f"]]},{"id":"fdd7299a.7704f8","type":"ui_form","z":"15817c05.5df8c4","name":"","label":"","group":"2077cd3c.1107e2","order":1,"width":"6","height":"12","options":[{"label":"","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":80,"wires":[["cd7a501d.23e3"]]},{"id":"97976d78.1b44f","type":"function","z":"15817c05.5df8c4","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":320,"wires":[["9e507b52.607158","903f73b2.40e92"]]},{"id":"903f73b2.40e92","type":"ui_template","z":"15817c05.5df8c4","group":"67c276bc.1c6b18","name":"","order":1,"width":"6","height":"10","format":"<div ng-bind-html=\"msg.payload\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":660,"y":400,"wires":[[]]},{"id":"2077cd3c.1107e2","type":"ui_group","z":"","name":"You:","tab":"7ca2aa96.b8f774","order":1,"disp":true,"width":"6","collapse":false},{"id":"67c276bc.1c6b18","type":"ui_group","z":"","name":"ChatBot:","tab":"7ca2aa96.b8f774","order":2,"disp":true,"width":"6","collapse":false},{"id":"7ca2aa96.b8f774","type":"ui_tab","z":"","name":"Imagine Store ⌚","icon":"dashboard","disabled":false,"hidden":false}]